html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 1.2rem;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #6247aa;
}

nav .nav_content {
  margin-top: 4vh;
}

nav .nav_content .nav_title {
  float: left;
  margin-top: 0;
}

nav .nav_content .nav_items {
  float: right;
  list-style: none;
  list-style-type: none;
}

nav .nav_content .nav_items .nav_item {
  float: left;
}

nav .nav_content .nav_items .nav_item .nav_link {
  color: #fff;
  display: flex;
  margin-right: 15px;
  text-decoration: none;
}

.table {
  display: table;
  width: 100%;
}
.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

header {
  background-color: #6247aa;
  color: #fff;
}

.profile_section .profile_image {
  border-radius: 100%;
  width: 25vh;
  margin: 5vh 50%;
  transform: translate(-75%, 75%);
}

.profile_section .profile_text {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: justify;
  width: 50%;
}

.contact_data_section {
  margin-top: 15vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.title {
  color: black;
  line-height: 1.3rem;
}

.subtitle {
  color: rgba(0, 0, 0, 0.699);
}

.contact_link {
  text-decoration: none;
}

.card_light {
  padding: 20px;
  border-radius: 15px;
  background-color: #c0b5dd;
}

.abilities_card_contiainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 3vh;
}

.abilities_card_img {
  width: 6vw;
}

.projects {
  background-color: #6247aa;
  color: #fff;
  margin-top: 2vh;
  padding: 2vh 0;
}

.card_proyect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5vh 0;
}

.img_proyect {
  width: 30vw;
}

.card_content_project {
  padding: 25px;
  border: black 1px solid;
  background-color: #c0b5dd;
  border-radius: 15px;
  color: black;
}

.button_project {
  text-decoration: none;
  color: black;
  padding: 9px 15px;
  border: 1px black solid;
  border-radius: 15px;
  right: 0;
  margin: auto;
}

.button_project:hover {
  text-decoration: none;
  background-color: #6247aa;
  border: 1px white solid;
  color: #fff;
}

.form_email {
  width: 30vw;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.form_group {
  margin: 2vh auto;
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}

.form_item {
  display: block;
  width: 100%;
  padding: 5px;
  line-height: 1.5rem;
  background-clip: padding-box;
  border: 1px solid black;
}

.submit_button {
  margin-top: 3vh;
  width: 100%;
  line-height: 2rem;
  background-color: #6247aa;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn_cv {
  background-color: #c0b5dd;
  color: black;
  border: none;
  border-radius: 5px;
  line-height: 2rem;
  text-decoration: none;
  float: inline-end;
  text-decoration: none;
}

.footer {
  background-color: #6247aa;
  color: #fff;
  text-align: center;
  height: 20vh;
  line-height: 7vh;
  margin-top: 30px;
  line-height: 20vh;
}
